<template>
  <div class="battle-lobby">
    <div class="battle-lobby__table">
      <el-tabs class="battle-lobby__tabs" tab-position="left">
        <el-tab-pane class="battle-lobby__pane" label="Лобби">
          <transition name="el-zoom-in-center">
            <div
              v-if="this.showCreateMurrBattleRoomPlank"
              class="create_murr_battle_room_plank"
            >
              <div class="create_murr_battle_room_plank__content">
                <el-radio-group class="mb" v-model="murrBattleRoomType">
                  <el-radio class="murr-el-radio" label="one_vs_one" border
                    >1 vs 1
                  </el-radio>
                  <!--                  <el-radio class="murr-el-radio" label="two_vs_two" border-->
                  <!--                    >2 vs 2-->
                  <!--                  </el-radio>-->
                </el-radio-group>

                <el-button class="murr-button" @click="createMurrBattleRoom"
                  >Создать
                </el-button>
              </div>
            </div>
          </transition>
          <div class="battle-lobby__table-row">
            <div class="battle-lobby__content">
              <div class="battle-lobby__title">murr_game</div>
              <div class="battle-lobby__buttons">
                <div
                  class="battle-lobby__button"
                  :class="{
                    'battle-lobby__button--active':
                      showCreateMurrBattleRoomPlank === false,
                  }"
                  @click="showCreateMurrBattleRoomPlank = false"
                >
                  Лобби
                </div>
                <div
                  class="battle-lobby__button"
                  v-if="getShowCreateMurrBattleRoomBtn_getters"
                  :class="{
                    'battle-lobby__button--active':
                      showCreateMurrBattleRoomPlank === true,
                  }"
                  @click.prevent="showCreateMurrBattleRoomPlank = true"
                >
                  Создать
                </div>
              </div>
            </div>
          </div>
          <div class="battle-lobby__table-row">
            <div class="battle-lobby__table-grid">
              <div
                class="battle-lobby__room"
                v-for="(room, index) in this.getMurrBattleRoomList_getters"
                :key="'room-' + index"
                :class="{
                  'battle-lobby__room-2vs2':
                    room.room_groups.first_group.group_len === 2,
                }"
              >
                <div
                  class="battle-lobby__room-murren"
                  v-for="murrenInFirstGroup in room.room_groups.first_group
                    .members"
                  :key="murrenInFirstGroup.murren_id"
                >
                  <div v-if="murrenInFirstGroup.murren_name">
                    <div
                      class="battle-lobby__room-murren_avatar"
                      :style="{
                        backgroundImage: `url(${murrenInFirstGroup.murren_avatar})`,
                      }"
                    ></div>
                    <div class="battle-lobby__room-murren_name">
                      {{ murrenInFirstGroup.murren_name | maxMurrenNameLength }}
                    </div>
                  </div>

                  <div v-else>
                    <div
                      class="battle-lobby__stub"
                      @click="
                        joinInGroup(
                          room.room_id,
                          'firstGroup',
                          room.room_groups
                        )
                      "
                    >
                      <div class="battle-lobby__stub-plus"></div>
                      <span class="battle-lobby__stub-text"
                        >присоединиться</span
                      >
                    </div>
                  </div>
                </div>

                <div class="battle-lobby__room-center">
                  <div class="battle-lobby__room-center_swords"></div>
                  <el-progress
                    class="battle-lobby__room-center_progress"
                    v-if="room.room_id === murrBattleRoomId"
                    :text-inside="false"
                    :show-text="false"
                    :stroke-width="6"
                    :percentage="progressBarRangePercentage"
                  ></el-progress>
                  <div
                    class="battle-lobby__room-center_text"
                    v-if="room.room_id === murrBattleRoomId"
                  >
                    Готовим <br />
                    арену
                  </div>
                </div>

                <div
                  class="battle-lobby__room-murren"
                  v-for="murrenInSecondGroup in room.room_groups.second_group
                    .members"
                  :key="murrenInSecondGroup.murren_id"
                >
                  <div v-if="murrenInSecondGroup.murren_name">
                    <div
                      class="battle-lobby__room-murren_avatar"
                      :style="{
                        backgroundImage: `url(${murrenInSecondGroup.murren_avatar})`,
                      }"
                    ></div>
                    <div class="battle-lobby__room-murren_name">
                      {{
                        murrenInSecondGroup.murren_name | maxMurrenNameLength
                      }}
                    </div>
                  </div>

                  <div v-else>
                    <div
                      class="battle-lobby__stub"
                      @click="
                        joinInGroup(
                          room.room_id,
                          'secondGroup',
                          room.room_groups
                        )
                      "
                    >
                      <div class="battle-lobby__stub-plus"></div>
                      <span class="battle-lobby__stub-text"
                        >присоединиться</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import "./scss/main.scss";
import BattleScene from "./BattleScene";
import { getRoomMembersIds } from "./store/murr_game";
import { websocket_base_url, battleLobbyUrl } from "../../devAndProdVariables";
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
  name: "MurrGame",
  data() {
    return {
      battleLobbyUrl: null,
      openedPopoverMurren: null,
      murrBattleRoomId: null,
      murrensInBattleRoom: [],
      progressBarRangePercentage: 0,
      showCreateMurrBattleRoomPlank: false,
      murrBattleRoomType: "one_vs_one",
    };
  },

  mounted() {
    let token = this.$store.getters.currentMurren.token;
    this.battleLobbySocket = new WebSocket(
      websocket_base_url + battleLobbyUrl + "?token=" + token
    );

    this.battleLobbySocket.onopen = () => {
      // eslint-disable-next-line no-console
      console.log("socket.onopen");
    };
    this.battleLobbySocket.onmessage = (event) => {
      this.socketMessage = JSON.parse(event.data);

      if (this.socketMessage.gan === "murrenConnectToBattleLobby") {
        // eslint-disable-next-line no-console
        console.log("gan - murrenConnectToBattleLobby");
        if (this.getMurrBattleRoomList_getters.length === 0) {
          this.socketMessage.data.forEach((room) => {
            this.setMurrBattleRoomList_mutations(room);
          });
        }
      }
      if (this.socketMessage.gan === "create_murr_battle_room") {
        this.setMurrBattleRoomList_mutations(this.socketMessage.data);
      }
      if (this.socketMessage.gan === "join_in_room") {
        // eslint-disable-next-line no-console
        console.log("join_in_room", this.socketMessage.data);
        this.updateRoomStateInMurrBattleLobby(this.socketMessage.data);

        if (this.socketMessage.data.room_id_for_initiate_battle_scene) {
          this.murrBattleRoomId = this.socketMessage.data.room_id_for_initiate_battle_scene;

          for (let i = 1; i < 7; i++) {
            setTimeout(() => {
              if (this.progressBarRangePercentage >= 100) {
                this.preparePrivateBattleRoom(this.socketMessage.data);
                this.progressBarRangePercentage = 0;
              }
              this.progressBarRangePercentage += 20;
            }, i * 100);
          }
        }
      }
      if (this.socketMessage.gan === "disconnect_MurrGameLobbyConsumer") {
        this.socketMessage.data.destroyed_murr_battle_room_ids.forEach(
          (room_id) => {
            this.popMurrBattleRoom_mutations(room_id);
          }
        );
        this.popMurrenFromBattleRoomList(this.socketMessage.data.murren_id);
      }
    };

    this.battleLobbySocket.onclose = (event) => {
      if (event.wasClean) {
        // eslint-disable-next-line no-console
        console.log("Соединение закрыто чисто");
      } else {
        // eslint-disable-next-line no-console
        console.log("Обрыв соединения");
      }
      // eslint-disable-next-line no-console
      console.log("Код: " + event.code + " причина: " + event.reason);
    };
    this.battleLobbySocket.onerror = (error) => {
      // eslint-disable-next-line no-console
      console.log("Ошибка " + error.message);
    };
  },
  computed: {
    ...mapGetters({
      getMurrBattleRoomList_getters: "getMurrBattleRoomList_getters",
      getShowCreateMurrBattleRoomBtn_getters:
        "getShowCreateMurrBattleRoomBtn_getters",
    }),
  },
  methods: {
    ...mapMutations({
      setMurrBattleRoomList_mutations: "setMurrBattleRoomList_mutations",
      popMurrBattleRoom_mutations: "popMurrBattleRoom_mutations",
      setShowCreateMurrBattleRoomBtn_mutations:
        "setShowCreateMurrBattleRoomBtn_mutations",
      updateRoomStateInMurrBattleLobby: "updateRoomStateInMurrBattleLobby",
      popMurrenFromBattleRoomList: "popMurrenFromBattleRoomList",
    }),
    ...mapActions({
      notification: "popUpMessage",
    }),
    createMurrBattleRoom() {
      this.setShowCreateMurrBattleRoomBtn_mutations(false);

      this.battleLobbySocket.send(
        JSON.stringify({
          data: {
            murr_battle_room_type: this.murrBattleRoomType,
          },
          gan: "create_murr_battle_room",
        })
      );
      this.showCreateMurrBattleRoomPlank = false;
    },

    joinInGroup(roomId, roomGroup, roomGroups) {
      const groupMembersIds = getRoomMembersIds(roomGroups);
      if (groupMembersIds.includes(this.$store.getters.currentMurren.id)) {
        this.notification({
          message: "Ожидаем противника",
          type: "success",
        });
        return;
      }

      this.battleLobbySocket.send(
        JSON.stringify({
          data: {
            room_id: roomId,
            room_group: roomGroup,
          },
          gan: "join_in_room",
        })
      );
    },

    onClickOutside() {
      this.openedPopoverMurren = false;
    },
    openPopover(murreId) {
      this.openedPopoverMurren = murreId;
    },
    preparePrivateBattleRoom(room) {
      const murrensInBattleRoom = getRoomMembersIds(room.room_groups);

      murrensInBattleRoom.forEach((murrenId) => {
        if (this.$store.getters.currentMurren.id === murrenId) {
          this.$store.commit("modal/open", {
            transition: "el-zoom-in-center",
            component: {
              render: BattleScene,
              props: {
                roomData: room,
              },
            },
          });
        }
      });

      this.popMurrBattleRoom_mutations(room.room_id);
    },
  },
  filters: {
    maxMurrenNameLength(murrenName) {
      if (murrenName.length > 12) {
        return murrenName.substring(0, 12) + "...";
      }
      return murrenName;
    },
  },
  components: {
    // PopoverMurrenClick,
  },
};
</script>
