<template>
  <div class="m-card-preview">
    <div class="m-cards__item m-card-preview__item">
      <div class="m-cards__top">
        <!--        <div class="m-cards__author">-->
        <!--          <div-->
        <!--            class="m-cards__author-avatar"-->
        <!--            :style="{ backgroundImage: `url(${murren.avatar})` }"-->
        <!--          />-->
        <!--          <div class="m-cards__author-name" v-text="murren.username" />-->
        <!--        </div>-->
        <!-- .m-cards__author -->

        <div class="m-cards__actions">
          <el-button
            v-if="isContentFilled"
            type="text"
            icon="el-icon-document m-cards__document-icon"
            class="m-cards__document-button"
          />

          <el-button
            type="text"
            icon="el-icon-more-outline m-cards__more-icon"
            class="m-cards__more-button"
          />
        </div>
      </div>
      <!-- .m-cards__top -->

            <div class="m-cards__cover m-card-preview__cover">
              <div class="m-card-preview__cover-actions">
                <el-button
                  v-if="isShowEditCover"
                  class="m-card-preview__clear-action"
                  type="text"
                  icon="el-icon-edit-outline"
                  @click.prevent="$emit('edit-cover')"
                />

                <el-button
                  v-if="isShowRemoveCover"
                  class="m-card-preview__clear-action"
                  type="text"
                  icon="el-icon-close"
                  @click.prevent="$emit('removed-cover')"
                />
              </div>

              <div
                v-show="coverBlobUrl"
                class="js-croper-preview m-card-preview__crop-preview"
              />

              <div
                v-show="!coverBlobUrl"
                class="m-card-preview__upload"
                @click="$refs.cover.click()"
              >
                <div class="m-card-preview__upload-label">+ murr_cover</div>
                <div class="m-card-preview__upload-helper">
                  добавить обложку мурра
                </div>
              </div>
            </div>
<!--       .m-cards__cover -->

      <div
        v-text="murrCard.title"
        class="m-cards__title m-card-preview__title"
      />
      <!-- .m-cards__title -->

      <!--      <div class="m-cards__footer">-->
      <!--        <div class="m-cards__rating">-->
      <!--          <el-button-->
      <!--            icon="el-icon-arrow-up"-->
      <!--            type="text"-->
      <!--            class="m-cards__rating-like"-->
      <!--          />-->

      <!--          <el-button type="text" class="m-cards__rating-counter positive">-->
      <!--            +27-->
      <!--          </el-button>-->

      <!--          <el-button-->
      <!--            icon="el-icon-arrow-down"-->
      <!--            type="text"-->
      <!--            class="m-cards__rating-unlike"-->
      <!--          />-->
      <!--        </div>-->

      <!--        <div class="m-cards__comments">-->
      <!--          <el-button-->
      <!--            icon="el-icon-chat-round"-->
      <!--            type="text"-->
      <!--            class="m-cards__comments-btn"-->
      <!--          >-->
      <!--            <span class="m-cards__comments-count"> 12 </span>-->
      <!--          </el-button>-->
      <!--        </div>-->
      <!--      </div>-->
      <!-- .m-cards__footer -->
    </div>

    <input
      class="m-card-preview__input-cover"
      type="file"
      accept="image/png, image/jpeg, image/webp"
      ref="cover"
      @change="onSelectedCover($event)"
    />
  </div>
</template>

<script>
import { MURR_CARD_COVER_RESIZE } from "../store/type.js";

export default {
  name: "MurrCardPreview",

  props: {
    murren: {
      type: Object,
      required: true,
    },
    murrCard: {
      type: Object,
    },
    coverBlobUrl: {
      type: String,
    },
    isShowRemoveCover: {
      type: Boolean,
      default: false,
    },
    isShowEditCover: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    isContentFilled() {
      return typeof this.murrCard.content === "object";
    },
  },

  methods: {
    async onSelectedCover({ target }) {
      const cover = target.files[0];

      if (cover.type.indexOf("image/") === -1) {
        alert("Please select an image file");
        return;
      }

      const {
        success,
        data,
      } = await this.$store.dispatch(MURR_CARD_COVER_RESIZE, { cover });

      if (success) {
        this.$emit("selected-cover", data);
      }
    },
  },
};
</script>
