@import "./../../assets/scss/variables";

body {
  background-color: $dark-active;
}
//
//.main-layout {
//  height: calc(100% - 0.3em);
//  width: 100%;
//}

.header {
  transition: 0.5s;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
  background-color: $dark;
  &-logo,
  &-profile {
    height: 100%;
    & a,
    img {
      display: block;
      height: 100%;
    }
  }
  &-profile {
    position: relative;
    margin-left: auto !important;
    & img {
      border-radius: 3px;
    }
    & a {
      text-decoration: none;
    }
    &-notify {
      height: 15px;
      width: 15px;
      border: 1px solid $main;
      position: absolute;
      background-color: $warning-hover;
      border-radius: 50%;
      top: -5px;
      right: -5px;
    }
  }
}

.main-layout-content {
  //padding: 0.8em 0;
  //height: calc(100vh - 60px);
  //display: flex;
  //flex-direction: row;
  //gap: 12px;
}

@media (min-width: 1200px) {
  .header {
    padding: 0.5em 5%;
  }
}
@media (min-width: 1600px) {
  .header {
    padding: 0.5em 10%;
  }
}
