<template>
  <div class="main-boobs-style">
    <h4 class="boobs__title">
      boobs_rate - рейтинг самых 🍑 и 🍒 фотоизображений
    </h4>
    <el-button
      class="m-comments-form__textarea-button smile"
      type="text"
      @click="onToggleEmojiPopover"
    >
      <font-awesome-icon :icon="['far', 'smile']" />
    </el-button>
    <div class="rrr">
      <transition name="el-fade-in">
        <v-emoji-picker
          v-if="isShowEmojiPopover"
          v-click-outside="onCloseEmojiPopover"
          ref="emojiPicker"
          :dark="true"
          @select="onSelectEmoji"
          class="emoji-container"
        />
      </transition>
    </div>
    <div v-if="boobs.cover" class="boobs__cover">
      <img :src="boobs.cover" :alt="boobs.cover" class="boobs__cover-img" />
    </div>
    <div class="boobs__active-panel">
      <button type="button" class="boobs__active-panel-btn">+</button>
      <button type="button" class="boobs__active-panel-btn">-</button>
    </div>
    <p class="boobs__all-vote">всего голосов: 5873</p>
    <p class="">Как тебе это фото изображение?</p>
    <div class="boobs__links">
      <router-link class="boobs__links-item" to="/">
        О проекте
        <!--          <img-->
        <!--            src="@/assets/img/murr_logo_and_name.png"-->
        <!--            @mouseover="changeHeaderColor"-->
        <!--            alt=""-->
        <!--          />-->
      </router-link>
      <router-link class="boobs__links-item" to="/">
        Поддержать
      </router-link>
      <router-link class="boobs__links-item" to="/">
        Контакты
      </router-link>
    </div>
  </div>
</template>

<script>
import VEmojiPicker from "v-emoji-picker";

export default {
  name: "MurrBoobsRate",
  components: {
    VEmojiPicker,
  },
  data() {
    return {
      isShowEmojiPopover: false,
      boobs: {
        // cover: 'https://boobs.to/wp-content/uploads/2017/12/tumblr_nanszebjXU1r0wzito1_400.jpg'
        // cover: 'https://boobs.to/wp-content/uploads/2017/12/tumblr_n9kd4mQUXR1tnz9bbo1_500.gif'
        cover:
          "https://boobs.to/wp-content/uploads/2015/11/tumblr_neuqwd8nyL1rtg6n0o1_500.jpg",
      },
    };
  },
  props: {
    // targetPage: String,
    // murrenId: Number,
    setMasonryCols: Object,
  },
  methods: {
    onSelectEmoji(emoji) {
      this.execInsertText(emoji.data);
      this.onCloseEmojiPopover();
    },
    onCloseEmojiPopover() {
      this.isShowEmojiPopover = false;
    },
    onToggleEmojiPopover() {
      if (this.isShowEmojiPopover) {
        this.onCloseEmojiPopover();
        return;
      }

      this.onOpenEmojiPopover();
    },
    execInsertText(insertText) {
      if (!insertText.length) return;

      const textarea = this.$refs.textarea;
      const sentence = textarea.value;
      const len = sentence.length;
      let pos = textarea.selectionStart;
      if (pos === undefined) {
        pos = 0;
      }

      const before = sentence.substr(0, pos);
      const after = sentence.substr(pos, len);

      this.text = before + insertText + after;

      this.$nextTick().then(() => {
        textarea.focus();
        textarea.selectionStart = pos + insertText.length;
        textarea.selectionEnd = pos + insertText.length;
      });
    },
    onOpenEmojiPopover() {
      this.isShowEmojiPopover = true;

      const modal = document.getElementById("modalWindow");
      const checkEmojiIsRendered = () => {
        if (this.$refs.emojiPicker) {
          const EmojiPickerClientRect = this.$refs.emojiPicker.$el.getClientRects()[0];
          const y =
            EmojiPickerClientRect.top +
            EmojiPickerClientRect.height -
            document.documentElement.clientHeight +
            20;
          modal.scrollBy(0, y);
        } else {
          this.$nextTick(checkEmojiIsRendered);
        }
      };

      this.$nextTick(checkEmojiIsRendered);
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/variables.scss";

.main-boobs-style {
  //margin-left: 15px;
  min-width: 330px;
  max-width: 330px;
  //min-height: 300px;
  //max: 100%;
  //max-height:600px;
  ////height: 100%;
  border: 1px solid #ad00ff;
  //border-radius: 3px;
  //padding: 5px;
  background-color: #2a4350;

  //height: 500px;

  //height: 100%;
  //width: 100%;
  //padding: ;
  //background-color: red;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: center;
  padding: 4px;
  //background-color: red;
}

.rrr {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.emoji-container {
  //margin: 30px 0;
  position: absolute;
  //right: 50px;
  //top: 4px;
  z-index: 10;
}
.boobs {
  &__title {
  }
  &__all-vote {
    font-size: 7px;
    color: #37a3d2;
  }
  &__cover {
    //min-width: 310px;
    max-width: 320px;
    max-height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-img {
      //max-width: 100%;
      display: inline-block;
      border-radius: 3px;
      max-height: 405px;

      border: 1px solid #c02ae3;
    }
  }

  &__active-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    gap: 5px;
    &-btn {
      color: $white;
      width: 40%;
      font-size: 36px;
      min-height: 20%;
      background-color: $main;
      cursor: pointer;
      border: 1px $white-light solid;

      &:hover {
        background-color: $main-hover;
      }
      &:active {
        background-color: $main-active;
      }
      &:focus {
        //background-color: red;
      }
    }
  }

  &__links {
    width: 150px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 9px;
    &-item {
      text-decoration: none;
      color: #37a3d2;
    }
  }
}
</style>
