<template>
  <div class="m-cards__popup">
    <div class="m-cards__popup-action" @click="$emit('copy-link')">
      <i
        class="el-icon-share m-cards__popup-icon m-cards__popup-icon_normal"
      ></i>
      <span class="m-cards__popup-text"> Копировать ссылку </span>
    </div>
    <!--    <div-->
    <!--      class="m-cards__popup-action"-->
    <!--      v-if="isAuthorized && !isAuthorMurr"-->
    <!--      @click="$emit('subscribe')"-->
    <!--    >-->
    <!--      <i-->
    <!--        class="el-icon-plus m-cards__popup-icon m-cards__popup-icon_normal"-->
    <!--        v-if="!isSubscriber"-->
    <!--      ></i>-->
    <!--      <i-->
    <!--        class="el-icon-close m-cards__popup-icon m-cards__popup-icon_cancel"-->
    <!--        v-else-->
    <!--      ></i>-->
    <!--      <span class="m-cards__popup-text">-->
    <!--        <template v-if="!isSubscriber"> Подписаться на </template>-->
    <!--        <template v-else> Отписаться от </template>-->
    <!--        муррена-->
    <!--      </span>-->
    <!--    </div>-->
  </div>
</template>

<script>
export default {
  name: "MurrCardMorePopup",
  props: {
    isSubscriber: {
      required: true,
      type: Boolean,
    },
    isAuthorized: {
      required: true,
      type: Boolean,
    },
    isAuthorMurr: {
      required: true,
      type: Boolean,
    },
  },
};
</script>
