<template>
  <div class="murr-widgets">
    <div class="murr-widgets-stub">
      <h3>Здравствуй, дорогой!</h3>
      <h4>Ты попал на интернет ресурс Мурренган.</h4>
      <span>Тебе доступен виджет мурр_кард (murr_card) -></span>
<!--      <br />-->
<!--      <br />-->
<!--      <br />-->
    </div>
    <!--  <el-row class="main-page">-->
    <!--    <el-col :span="18">-->
    <!--      <el-row class="murr-tavern mb">-->
    <!--&lt;!&ndash;        <murr-chat class="el-col el-col-24 murr-tavern__chat" />&ndash;&gt;-->
    <!--      </el-row>-->
    <!--&lt;!&ndash;      <MurrGame v-if="this.$store.getters.currentMurren" />&ndash;&gt;-->
    <!--    </el-col>-->
    <!--    <murr-boobs-rate key="murr-boobs-rate-key"/>-->
    <div class="murr-feed">
      <el-row class="feed-actions">
        <el-col :span="19" class="feed-actions__day-phrase">
          Что я сегодня сделал полезного? <br />Как продвигается моя цель?
        </el-col>
        <el-col :span="4" class="feed-actions__add-murr">
          <el-button
            type="text"
            class="feed-actions__add-murr-btn"
            @click="onOpenMurrCardCreate"
          >
            Создать
          </el-button>
        </el-col>
      </el-row>
      <!--      <el-row class="feed-filters">-->
      <!--        <div-->
      <!--          class="feed-filter filter-all"-->
      <!--          :class="{ active: filterAllSelected }"-->
      <!--          @click="setFilter('all')"-->
      <!--        >-->
      <!--          Лента-->
      <!--        </div>-->
      <!--        <div-->
      <!--          class="feed-filter filter-subscriptions"-->
      <!--          :class="{ active: filterSubscriptionsSelected }"-->
      <!--          @click="setFilter('subscriptions')"-->
      <!--        >-->
      <!--          <span class="feed-filter-notify" v-if="hasNewMurr"></span>-->
      <!--          Подписки-->
      <!--        </div>-->
      <!--      </el-row>-->
      <!--      v-if="filterAllSelected"-->
      <murr-card-list
        :setMasonryCols="masonryCols"
        class="feed-list"
        key="all-feed"
      />

      <!--      <murr-card-list-->
      <!--        v-if="filterSubscriptionsSelected"-->
      <!--        :setMasonryCols="masonryCols"-->
      <!--        targetPage="subscriptions"-->
      <!--        class="feed-list"-->
      <!--        key="subscriptions-feed"-->
      <!--      />-->
    </div>

    <!--    <el-col >-->

    <!--    </el-col>-->

    <!--  </el-row>-->
  </div>
</template>

<style lang="scss">
.murr-widgets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  &-stub {
    //background-color: red;

    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}
</style>
<script>
import { mapActions } from "vuex";

// import MurrChat from "../components/murr_chat/MurrChat.vue";
import MurrCardList from "../components/murr_card/MurrCardList.vue";
// import MurrBoobsRate from "../components/murr_boobs_rate/MurrBoobsRate.vue";
// import MurrGame from "../components/murr_game/MurrGame";

import "./scss/home.scss";

import MurrCardCreate from "../components/murr_card/MurrCardCreate.vue";

export default {
  name: "Home",

  // data() {
  //   return {
  // filterAllSelected: true,
  // filterSubscriptionsSelected: false,
  //   };
  // },

  components: {
    // MurrChat,
    // MurrCardList,
    // MurrGame,
    MurrCardList,
    // MurrBoobsRate
  },

  computed: {
    // isMurrenAuthorized() {
    //   return this.$store.getters.currentMurren;
    // },

    masonryCols() {
      return {
        default: 1,
      };
    },

    // hasNewMurr() {
    //   return this.$store.getters.hasNewMurr;
    // },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
      // handlerSignInModal: "changeShowLoginForm_actions",
    }),

    // notAuthenticatedNotification() {
    //   this.notification({
    //     message: `Для создания мурра требуется авторизация 😳`,
    //     type: "warning",
    //   });
    //
    //   this.handlerSignInModal();
    // },

    async onOpenMurrCardCreate() {
      // if (!this.isMurrenAuthorized) {
      //   this.notAuthenticatedNotification();
      //   return;
      // }

      this.$store.commit("modal/open", {
        transition: "el-zoom-in-center",
        options: {
          positionBtnClose: "left",
        },
        component: {
          render: MurrCardCreate,
        },
      });
    },

    // setFilter(filter) {
    //   this.filterAllSelected = false;
    //   this.filterSubscriptionsSelected = false;
    //
    //   if (filter === "all") this.filterAllSelected = true;
    //   if (filter === "subscriptions") this.filterSubscriptionsSelected = true;
    // },
  },
};
</script>
