@import "../../../assets/scss/variables.scss";

.notify-popup {
  min-width: 300px !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 3px !important;
  & .el-notification__group {
    margin: 0 !important;
    width: 100% !important;
    & .el-notification__content {
      margin: 0 !important;
      & .notify {
        margin: 0 !important;
      }
    }
  }
}
.notify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
  padding: 8px;
  border-left: 3px solid $white-lighter;
  border-radius: 3px;
  box-shadow: 0 0 3px $accent-color-main;
  background: $dark-accent-primary;

  & a {
    text-decoration: none;
    &:hover {
      color: $white-light;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 3px 0;
    color: $comment-body-text-color;
    font-size: 12px;
    line-height: 10px;
  }
  &-subscribe {
    & .notify-content {
      align-items: center;
      flex-direction: row;
      &__avatar-link img {
        display: block;
        height: 30px;
        border-radius: 3px;
      }
    }
  }
}
