@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.modal {
  background-color: $dark-hover;
}

.modal__content {
  height: 100%;
}

.base {
  height: 100%;
}

.scene {
  display: flex;
  height: 40%;
  &__first-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__second-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.final-plank {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $dark;
  width: 100%;
  height: 100%;
  border: 1px solid $main;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  &_text {
    text-align: center;
  }
}

.data {
  display: flex;
  height: 60%;
  background-color: $dark;
  padding: 10px;
  width: 1028px;
  margin: 0 auto;
  @include border;
  &-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-right {
    flex: 1;
  }
}

.murren-turn {
  border: 1px solid $warning-hover !important;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($warning-hover, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba($warning-hover, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($warning-hover, 0);
  }
}

@keyframes pulse-skill {
  0% {
    box-shadow: 0 0 0 0 rgba($warning-hover, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba($warning-hover, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($warning-hover, 0);
  }
}

.chosen {
  z-index: 1;
  border: 1px $warning-hover solid !important;
  opacity: 1 !important;
  animation: pulse-skill 1.5s;
}

.turn_murren {
  width: 669px;
  padding: 5px;
  border-radius: 3px;
  background-color: $dark-active;
  border: 1px solid $main;

  &-panel {
    position: relative;
    display: flex;
    align-items: center;
  }

  .turn_murren_div {
    @include border;
    width: 150px;
    background-color: $dark;
    padding: 3px;
    display: flex;
    flex-direction: column;
  }

  &-avatar {
    height: 133px;
    width: 124px;
    border-radius: 3px;
  }

  &-name {
    margin: 0 auto;
  }

  &-skills {
    margin-left: 5px;

    &-topline {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-content {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    &-item {
      @include border;

      position: relative;
      display: flex;
      flex-direction: column;
      width: 100px;
      padding: 5px;
      cursor: pointer;
      background-color: $dark;

      &.is-selected {
        border: 1px solid $warning-hover;
        animation: pulse-skill 1.5s;
      }

      &.is-reloaded {
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    &-item-number {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 24px;
      height: 25px;
      text-align: center;

      font-family: JetBrainsMono, monospace;
      font-size: 24px;
      color: $white60;
    }

    &-item-icon {
      display: block;
      max-width: 100%;
      border-radius: 3px;
      margin-bottom: 5px;
      color: #f4fff8;
    }

    &-item-name {
      font-weight: normal;
      font-size: 14px;
      line-height: 90%;
      text-align: center;
    }

    &-item-is-reloading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $main;
    }
  }

  &-description-seleted-slill {
    font-size: 14px;
    line-height: 120%;
    margin-left: 5px;
  }

  &-stats {
    @include border;
    width: 30%;
    min-width: 200px;
    height: 100%;
    background-color: $dark-hover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &_main {
      @include border;
      background-color: $dark-active;
      padding: 5px 10px;
      &-hp {
        color: $danger;
      }
      &-mp {
        color: $primary;
      }
    }
  }
}

.turn-skill-reloading {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  pointer-events: none;

  &__number {
    font-family: JetBrainsMono, monospace;
    font-size: 36px;
    line-height: 120%;
  }
}

.turn-topline {
  margin-top: 5px;
  margin-bottom: 10px;

  &__item + &__item {
    margin-left: 5px;
  }

  &__point {
    width: 75px;
    height: 30px;
    border: 1px solid $main;
    border-radius: 3px;

    &.is-access {
      background-color: $success;
    }

    &.is-locked {
      background-color: $danger;
    }
  }
}
.is-wait {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.stats {
  background-color: $dark-hover;
  height: 100%;
  width: 100%;
}

.murren_card {
  @include plank;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3px;
  transition: all 0.2s;
  margin-right: 10px;
  background-color: $dark-active;
  &-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(1.7);
  }
  &-damage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 100px;
    align-items: center;
    color: $main;
    font-weight: 900;
    stroke: #0d2429;
  }
  &-name {
    margin-bottom: 5px;
  }
  &-avatar {
    width: 100%;
    height: 200px;
    border-radius: 3px;
    margin-bottom: 3px;
  }
  &-stats {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 190px;
    justify-content: flex-end;
    &-container {
      width: 100%;
    }
    &-hp {
      position: relative;
      &__bar {
        width: 100%;
        .el-progress-bar {
          &__outer {
            background-color: $dark-active;
            border-radius: 3px;
            border: 1px $danger solid;
          }
          &__inner {
            background-color: $danger;
            border-radius: 0 2px 2px 0;
          }
        }
      }
      &__value {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white60;
        font-size: 20px;

        position: absolute;
        top: 0;
      }
    }
    &-change-hp {
      position: absolute;
      background-color: $dark;
      color: $danger;
      width: 190px;
      height: 190px;
      border-radius: 3px;
      font-size: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      border: 1px $danger solid;
      bottom: 30px;
    }
  }

  &-opponent {
    border: 1px solid $danger;

    & > .murren_card-name {
      color: $danger;
    }
  }

  &-opponent:hover {
    box-shadow: 0 0 0 5px $danger-active;
    cursor: pointer;
  }
}

.throw {
  animation: throwKeyframes 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes throwKeyframes {
  0% {
    transform: translate(0px, 10px) rotate(0deg);
  }
  10% {
    transform: translate(-10px, -20px) rotate(-1deg);
  }
  20% {
    transform: translate(-30px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(30px, 20px) rotate(0deg);
  }
  40% {
    transform: translate(10px, -10px) rotate(1deg);
  }
  50% {
    transform: translate(-10px, 20px) rotate(-1deg);
  }
  60% {
    transform: translate(-30px, 10px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.successful_evasion {
  animation: rotating 1s;
}

@keyframes rotating {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.dice {
  animation: diceKeyframes 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes diceKeyframes {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shield {
  animation: diceKeyframes 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shieldKeyframes {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.not-enough-mana {
  animation: notEnoughManaKeyframes 0.5s;
}
@keyframes notEnoughManaKeyframes {
  0% {
    transform: rotate(-90deg) translateX(4px) translateY(5px);
  }
  10% {
    transform: rotate(-80deg) translateX(4px) translateY(5px);
  }
  20% {
    transform: rotate(-100deg) translateX(10px) translateY(10px);
  }
  30% {
    transform: rotate(-90deg) translateX(4px) translateY(5px);
  }
  40% {
    transform: rotate(-80deg) translateX(4px) translateY(5px);
  }
  50% {
    transform: rotate(-100deg) translateX(5px) translateY(0px);
  }
  60% {
    transform: rotate(-90deg) translateX(4px) translateY(5px);
  }
  70% {
    transform: rotate(-80deg) translateX(4px) translateY(5px);
  }
  80% {
    transform: rotate(-100deg) translateY(10px);
  }
  100% {
    transform: rotate(-90deg) translateX(4px) translateY(5px);
  }
}
