@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "./speed.scss";

.battle-lobby {
  height: 400px;
  background-color: $dark-active;
  position: relative;
  @include border;

  .el-tabs__header {
    margin-right: 1px !important;
  }

  &__tabs {
    height: 100%;

    .el-tabs__item {
      font-size: 1.1em;
      color: $white;
      word-spacing: 0.1px;
      transition: 0.3s all ease-out;
      &:focus,
      &:active {
        background: $dark-hover !important;
      }
    }

    .el-tabs__item:hover {
      background: $white !important;
      background: $dark !important;
    }

    .is-active {
      color: $white !important;
      background: $dark-hover !important;
    }

    .el-tabs__nav-wrap.is-left::after {
      background-color: $main !important;
      width: 1px !important;
    }

    .el-tabs__active-bar {
      transition: none;
      width: 1px !important;
      background: $main !important;
    }

    .el-tabs__item {
      padding: 0 10px;
      text-align: center !important;
    }
  }

  &__pane {
    .el-tabs__content {
      height: 100%;
    }
  }

  &__content {
    z-index: 2;
    margin-bottom: 32px;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: $white;
  }

  &__buttons {
    margin-top: 13px;
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin-right: 8px;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;

    &--active {
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $main;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__table {
    z-index: 0 !important;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

    .el-tabs__content {
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 14px;
      width: 672px;
    }

    &-row {
      display: flex;
      justify-content: center;
    }
  }

  &__room {
    height: 150px;
    border: 2px solid $main;
    width: fit-content;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;

    &-2vs2 {
      grid-column: 1 / 3;
      justify-self: center;
    }

    &-murren {
      height: 131px;
      width: 115px;
      margin: 5px;
      border-radius: 3px;
      position: relative;

      &_avatar {
        width: 112px;
        height: 114px;
        border-radius: 3px;
        margin: 1px auto 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &_name {
        font-size: 12px;
        text-align: center;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 2px;
      }
    }

    &-murren:hover {
      cursor: pointer;
    }

    &-center {
      margin: 0 5px;

      &_swords {
        width: 55px;
        height: 55px;
        margin-bottom: 3px;
        background: url("../../../assets/svg/murr_game/battle_room_cross_swords.svg")
          50% 50% / contain no-repeat;
      }

      &_progress {
        .el-progress-bar {
          width: 55px;
          margin-bottom: 3px;

          &__outer {
            background-color: $dark;
            border-radius: 3px;
          }

          &__inner {
            background-color: $warning;
            border-radius: 3px;
          }
        }
      }

      &_text {
        text-align: center;
        font-size: 10px;
      }
    }
  }

  &__stub {
    border: 1px solid $white;
    height: 131px;
    width: 115px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: $dark-active;

    &:hover {
      cursor: pointer;
      background-color: $dark;
    }

    &-plus {
      width: 55px;
      height: 55px;
      background: url("../../../assets/svg/murr_game/plus_stub.svg") 50% 50% /
        contain no-repeat;
    }

    &-text {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.create_murr_battle_room_plank {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $dark-active;
  z-index: 2;
  padding: 5px;

  &__close {
    position: relative;
    //margin-left: auto;

    &-icon {
      position: absolute;
      right: 0;
      top: 0;
      color: $main;
      font-size: 2.2em;

      &:hover {
        cursor: pointer;
        color: $main-hover;
      }

      &:active {
        color: $main-active;
      }
    }
  }

  &__content {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 1.4em;
      margin-bottom: 30px;
    }
  }
}

.murr-el-radio {
  border: 1px solid $white-lighter !important;
  background-color: $dark;
}

.murr-el-radio.is-checked {
  border: 1px solid $main-hover !important;

  .el-radio__label {
    color: $main-hover !important;
  }
}

.el-radio__input.is-checked .el-radio__inner {
  background: $main-hover !important;
  border: 1px solid $main !important;
}

.el-radio__inner:hover {
  border: 1px solid $main-hover !important;
}

.el-radio__inner.el-radio__inner {
  background-color: $dark !important;
  border: 1px solid $white-lighter !important;
}

.el-radio__inner::after {
  background-color: $dark !important;
}

.el-radio__label {
  color: $white-light;
}

.el-tabs__nav {
  min-width: 138px;
}
