@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.popover_murren_click {
  @include plank;
  background-color: $dark;
  width: 125px;
  height: 150px;
  position: absolute;
  border-bottom: none;
  top: 3px;
  left: 3px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-action {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $main;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-action:hover {
    background-color: $dark-hover;
  }

  &-action:active {
    background-color: $dark;
  }
}
