.speed {
  background-color: $dark-active;
  border-radius: 3px;
  border: 1px solid $main;
  padding: 5px 20px;
  margin-left: auto;
  width: 327px;

  &-turn-ended {
    background: linear-gradient(to right, $dark-hover 50%, $dark-active 50%);
    background-size: 200%;
    animation: blink 4s;

    @keyframes blink {
      0% {
        background-position: left bottom;
      }
      100% {
        background-position: right bottom;
      }
    }
  }

  &-title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1em;
    color: $white;
  }

  &-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  &-list__container {
    background-color: $dark-active;
    padding: 2px;
    border: 1px solid $main;
    border-radius: 3px;
    transition: transform 250ms ease-out;
  }

  &-list__item:first-child &-list__container {
    border-color: $warning;
  }

  &-list__item:not(:first-child):hover {
    z-index: 100 !important;
  }

  &-list__item:not(:first-child):hover &-list__container {
    transform: scale(0.95) !important;
  }

  &-list__item-avatar {
    width: 78px;
    height: 83px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
  }

  &-list__item-turn {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
}

.speed-list-move,
.speed-list-leave-active {
  transition: all 750ms ease;
}

.speed-list-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
