@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.main-page {
  transition: 0.5s;
  padding: 0 1%;
  height: 100%;
  display: flex;
  justify-content: center;
  & > .el-col {
    height: 100%;
  }
}

.murr-tavern {
  height: 50%;
  max-height: 450px;
  &__chat {
    height: 100%;
  }
}

.murr_boobs_rate_app {
  margin-left: 15px;
  min-width: 320px;
  max-width: 320px;
  min-height: 300px;
  //height: 100%;
  //max-height:600px;
  //height: 100%;
  border: 1px solid $main;
  border-radius: 3px;
  padding: 5px;
  background-color: #2a4350;
}
//.murr-widgets {
//  display: flex;
//  flex-direction: row;
//}
.murr-feed {
  //background-color: $dark;
  height: 100%;
  max-height: 600px;
  min-width: 330px;
  max-width: 330px;
  //margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  border: 1px solid $main;
  border-radius: 3px;
  padding: 5px 2px 5px 5px;

  & .feed-filters,
  & .feed-actions {
    border: 1px solid $main;
    font-weight: 700;
    border-radius: 3px;
    padding: 7px;
    display: flex;
    align-items: center;
  }
  & .feed-filters {
    &:after,
    &:before {
      content: none;
    }
    width: min-content;
    justify-content: center;
    align-self: center;
    gap: 1px;
    background-color: $dark;
    & .feed-filter {
      line-height: 21px;
      font-size: 18px;
      font-family: Roboto;
      padding: 1px 6px;
      border-radius: 3px;
      cursor: pointer;
      position: relative;
      &:hover,
      &.active {
        background-color: $dark-active;
      }
      &-notify {
        height: 6px;
        width: 6px;
        position: absolute;
        background-color: $success;
        border-radius: 50%;
        top: 2px;
        right: 2px;
      }
    }
  }
  & .feed-actions {
    &__day-phrase {
      font-size: 14px;
      line-height: 16px;
    }
    &__add-murr {
      display: flex;
      justify-content: center;
      align-items: center;
      &-btn {
        padding: 10px 5px;
        font-size: 14px;
        @include button-icon;

        //border: 1px solid red;
        //              &:hover {
        //                background-color: w;
        //              }
        //        //
        //              &:active {
        //background-color: blue;
        //              }
        //              &:focus {
        //background-color: green;
        //              }
      }

      //& button {
      //
      //}
    }
  }
  & .feed-list {
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    //margin: 0 auto;
    & .observer {
      margin-top: -600px;
      margin-bottom: 600px;
    }
  }
}

@media (min-width: 1200px) {
  .main-page {
    padding: 0 5%;
  }
}
@media (min-width: 1600px) {
  .main-page {
    padding: 0 10%;
  }
}
