.m-card-detail {
  max-width: 620px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  &__header,
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__header {
    margin-bottom: 30px;

    &-avatar {
      overflow: hidden;
      border-radius: 3px;
      width: 75px;
      height: 75px;
      border: 1px solid $accent-color-main;

      > img {
        display: block;
        max-width: 100%;
      }
    }

    &-username {
      margin-left: 10px;
      font-weight: bold;
      font-size: 25px;
    }

    &-subscribe {
      margin-left: 20px;
      color: $primary;
      cursor: pointer;

      &:hover {
        color: $primary-hover;
      }

      &.is-subscribe {
        color: $white60;
        &:hover {
          color: $white-lighter;
        }
      }
    }

    &-action {
      margin-left: auto;

      &-delete,
      &-sharing {
        border-radius: 3px;
        font-size: 30px;
        padding: 0;
        @include button-icon;
      }

      &-sharing {
        color: $primary;

        &:hover,
        &:active,
        &:focus {
          color: $primary-hover;
        }
      }

      &-delete {
        color: $white60;

        &:hover,
        &:active,
        &:focus {
          color: $white60;
        }
      }
    }
  }

  &__footer {
    margin-bottom: 30px;

    &-sharing {
      margin-left: auto;

      &-link {
        border-radius: 3px;
        font-size: 30px;
        color: $primary;
        padding: 0;
        @include button-icon;

        &:hover,
        &:active,
        &:focus {
          color: $primary-hover;
        }
      }
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.333;
    margin: 0 0 20px;
  }

  &__cover {
    margin: 20px 0;

    &-image {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      border-radius: 3px;
      padding: 10px;
      background-color: $dark-accent-primary;
      border: $accent-color-main 1px solid;
    }
  }

  &__marked {
    &-header {
      font-size: 25px;
      line-height: 1.333;
      margin: 20px 0;
    }

    &-paragraph {
      font-size: 17px;
      line-height: 1.333;
      margin: 6px 0 20px 0;
    }

    &-code {
      display: block;
      width: 100%;
      margin: 20px 0;
      background: $dark-accent-primary;
      color: $white60;
      border-radius: 3px;
      padding: 10px 12px;
      overflow: hidden;
      overflow-x: auto;
      white-space: pre;
      font-size: 17px;
      line-height: 22px;
      border: 0;
      outline: none;
    }

    &-figure {
      text-align: center;
      margin: 20px 0;
    }

    &-image {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

    &-caption {
      font-size: 14px;
      font-style: italic;
      color: $white60;
      margin: 5px 0;
    }
  }

  &__tags {
    margin: 24px 0;

    &-item + &-item {
      margin-left: 5px;
    }

    & > &-item {
      font-size: 18px;
      background-color: $dark-hover;
      border-radius: 3px;
      border: 0;
      cursor: pointer;
    }
  }

  &__rating {
    display: flex;
    align-items: center;

    .el-button + .el-button {
      margin-left: 5px;
    }

    &-like,
    &-dislike,
    &-counter {
      padding: 0;
    }

    &-like,
    &-dislike {
      border-radius: 3px;
      font-size: 30px;
      color: $accent-color-primary;
      @include button-icon;
    }

    &-like {
      &.active {
        color: #61e294;
        font-weight: bold;
      }
    }

    &-dislike {
      &.active {
        font-weight: bold;
        color: #bf4060;
      }
    }

    &-counter {
      font-size: 16px;
      color: $white;

      &.positive,
      &.positive:hover {
        color: $success;
      }

      &.negative,
      &.negative:hover {
        color: $danger;
      }

      &:hover {
        color: $white;
      }
    }
  }
}
